<div class="py-4">
  <nav aria-label="breadcrumb m-4">
    <ol class="breadcrumb bg-light">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item"><%= link_to @article.category.name, category_path(@article.category) %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @article.name %></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-7">
      <%= cl_image_tag @article.picture.key, class: "img-fluid rounded shadow", alt: "", width: 700, height: 450, crop: :fill %>
    </div>
    <div class="col-5">
      <h1><%= @article.name %></h1>
      <hr>
      <p><%= @article.description %></p>
      <hr>
      <p><i class="fas fa-truck text-primary"></i> Envío gestionado por: <small>Starken</small></p>
      <hr>
      <h2><%= @article.formatted_price %></h2>
      <% if user_signed_in? %>
        <% if policy(@article).owner?%>
          <%= link_to "Editar articulo", edit_article_path(current_order), class: "btn btn-outline-primary btn-block" %>
        <% else %>
          <%= form_with(model: current_order.order_items.new) do |f| %>
            <% unless current_order.order_items.exists?(article_id: @article.id)  %>
              <%= f.hidden_field :order_id, value: current_order.id %>
              <%= f.hidden_field :article_id, value: @article.id %>
              <%= f.submit "Agregar al carrito", class: "btn btn-outline-primary btn-block" %>
            <% else %>
              <%= link_to "Ir a mi carrito", edit_order_path(current_order), class: "btn btn-primary btn-block" %>
            <% end %>            
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Registrate para arrendar", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
